<head><title>Dashboard</title></head>
<body>
    	{% with messages = get_flashed_messages() %}
	{% if messages %}
    	<ul class=flashes>
    	{% for message in messages %}
      	<li>{{ message }}</li>
    	{% endfor %}
    	</ul>
  	{% endif %}
	{% endwith %}
    <a href="{{ url_for('nav_broadcast')}}">Broadcast</a>
    <h2>Subscriber List</h2>
    <table border="3">
        <tr><td>Name</td><td>Email</td><td>Phone Number</td><td></td></tr>
        {% for sub in subs %}
        <tr><td>{{ sub[1]|string() }}</td><td>{{ sub[2]|string() }}</td><td>{{ sub[3]|string() }}</td><td><a href="{{ url_for('delete', id=sub[0]) }}">Delete</td></tr>
        {% endfor%}
    </table>
</body>
